@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}

html {
    font-size: 62.5%;
}

body {
    background: url(/assets/pexels-eberhard-grossgasteiger-1183021.jpg);
    background-size: 100vw 100vh;
	background-repeat: repeat-y;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .header-container{
    margin: 10px;
}

header .header-container a{
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 600;
}

header .header-container a:hover{
    color:red;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

main section .icon-user {
    width: 10%;
    
}

main section .icon-password {
    width: 7%;
    
}

.login-container {
    background-color: rgb(0, 0, 0);
    
    border-radius: 10px;
    margin: 5px;
    padding:1%;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;

}

.container-label {
    display: flex;
    flex-direction: column;
}

.container-label label {
    color: white;
    margin-top: 3%;
    font-size: 2rem;

}


.container-label input{
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}




.container-label input:hover {  
    border-bottom: 2px solid red;
}


.texto-main p {
    color:white;
    font-size: 2.5rem;
    font-weight: 800;
}

.texto-main {
    display: flex;
}
.texto-main a  {
    color:black;
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
    padding-left: 4px ;
}
.texto-main a p:hover {
    color:red;
}


.container-label label {
    outline: none;
}

