@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
	background: url(/assets/pexels-eberhard-grossgasteiger-1183021.jpg);
	background-size: 100vw 100vh;
	background-repeat: repeat-y;
}

html {
    font-size: 62.5%;
}


main {
    display: flex;
    justify-content: center;
}

main .main-container {
    box-shadow: 10px 6px 10px black;
    margin-top: 1%;
    border-radius: 5px;
    background-color: white;
    opacity: 95%;
    width: 50%;
    padding-top: 2%;
}


 .main-container .container-center {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .container-center--footer {
     display: flex;
 }

 .crear-cuenta {
     color:  blue;
     list-style: none;
     font-size: 5rem;
     font-weight: 400;
     margin-bottom: 3%;

 }

 .volveralinicio {
     list-style: none;
     margin-left: 75%;
     margin-right: 2%;
 }

 .volveralinicio a {
     text-decoration: none;
     color: black;
     font-size: 2rem;
     font-weight: 500;
 }

 .volveralinicio a:hover {
    color: red;
}

 input {
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
    outline: none;  
    color: rgb(0, 0, 0);
    font-size: 2.1rem;
    margin-top: 2%;
    width: 35%;
    
 }


 .container-center--footer {
     margin-top: 3%;
     margin-bottom: 3%;
 }

.text {
    font-size: 2rem;
    color: black;
    list-style: none;
    margin-top: 1%;
    margin-bottom: 0.5%;
}

.container-center--footer button {
    border: none;
    color: white;
    background-color:blue;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 2rem;
    margin: 10px;
    padding: 6px 20px;
    border-radius: 3px;
    font-weight: 600;
}


.scroll {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    overflow-y: scroll;
}


.slidery {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 50vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}


.slidery .container-slidery {
    display: flex;
    flex-direction: column;
    align-items: center;
}